@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
    text-align: center;
}

html::-webkit-scrollbar{
    display: none;
}

body{
    background-color: #f7f3f0;
    background-image: url(img/fondo.png);
    background-size: 20px;
    background-blend-mode: luminosity;
    overflow: hidden;
    overflow-y: scroll;
}

h1{
    font-size: 2.35rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.3rem;
}

h5{
    font-size: 0.8rem;
}

#portada{
    width: 100vw;
}

section{
    padding: 5vw;
}

.portadaevento{
    position: relative;
    padding: 300px 0;
    display: flex;

}

.nombre{
    width: 100%;
    line-height: 2.3rem;

    animation: zoomnombre linear both;
    animation-timeline: scroll(root);
    animation-range: 0 500px;
}

.nombre h2{
    font-weight: 300;
}

@keyframes zoomnombre{
    from{
        transform: translateY(-200px);
        scale: 0.8;
    }
    to{
        transform: translateY(390px);
        scale: 1;
    }
}

.fondonombre{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    gap: 8vw;

    animation: zoomgallos linear both;
    animation-timeline: scroll(root);
    animation-range: 0 500px;
}



.fondonombre img{
    width: 40vw;
    display: flex;
    object-fit: contain;
    filter: drop-shadow(0 5px 3px #0000006e);
}

@keyframes zoomgallos{
    from{
        scale: 3;
    }
    to{

    }
}

.fechaevento{
    width: 100%;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.diayhora h3{
    font-size: 3rem;
}

.diayhora h2{
    font-size: 1.8rem;
    font-weight: 300;
}

#conteo{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 30px;
    background-color: #0C2A4E;
    color: #f7f3f0;
    border: 10px double #f7f3f0;

    animation: conteo linear both;
    animation-timeline: view();
    animation-range: entry 40% cover 50%;
}

@keyframes conteo{
    from{
        scale: 1;
    }
    to{
        scale: 1.2;
    }
}

.subtitulo{
    font-weight: 500;
}

#dias{
    font-size: 3rem;
}

.conteohoras{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.conteohoras div{
    width: 120px;
}

.lugarencuentro{
    position: relative;
    padding: 50px 0 250px;
}

.lugar{
    line-height: 4rem;
    font-family: "Sancreek", serif;
    animation: zoomlugar linear both;
    animation-timeline: view();
    animation-range: entry 40% cover 70%;
}

@keyframes zoomlugar{
    from{
        scale: 1;
    }
    to{
        scale: 1.5;
    }
}

.fondoEnfrentamiento{
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;

    animation: scaleenfrentamiento linear both;
    animation-timeline: view();
    animation-range: entry 40% cover 70%;
}

.fondoEnfrentamiento img{
    width: 40vw;
    filter: drop-shadow(0 10px 8px #0000006e);
}

@media (min-width: 1200px){
    .fondoEnfrentamiento img{
        width: 30vw;
    }

    .fondonombre{
        gap: 1vw;
    }
}

@keyframes scaleenfrentamiento{
    from{
        scale: 1.5;
        transform: translateY(50px);
    }
    to{
        scale: 1;
        transform: translateY(-70px);
    }
}

.eventoprincipal{
    width: 100%;
    padding: 150px 0 30px;
}

.premiosgallos{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    gap: 10px;
}


.premio{
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    animation: aparecer linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

.premio h4{
    font-weight: 700;
    line-height: 1.3rem;
    width: 100%;
}

.premio img{
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(0 10px 8px #0000006e);
}

.primerpremio{
    align-items: end;
}

.primerpremio h4{
    text-align: right;

    animation: aparecerizquierda linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
}

.segundopremio{
    align-items: start;
}

.segundopremio h4{
    text-align: left;

    animation: aparecerderecha linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
}

.tercerpremio img{
    scale: 1.2;
    transform: translateY(-20px);
}

.tercerpremio h4{
    animation: aparecerabajo linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
}

@keyframes aparecer{
    from{
        transform: translateY(100px);
        opacity: 0;
        scale: 0.6;
    }
    to{
        transform: translateY(0);
        opacity: 1;
        scale: 1;
    }
}

@keyframes aparecerderecha{
    from{
        transform: translateX(200px);
        opacity: 0;
        scale: 0.8;
    }
    to{
        transform: translateX(0);
        font-weight: 700;
        opacity: 1;
    }
}

@keyframes aparecerizquierda{
    from{
        transform: translateX(-200px);
        opacity: 0;
        scale: 0.8;
    }
    to{
        transform: translateX(0);
        font-weight: 700;
        opacity: 1;
    }
}

@keyframes aparecerabajo{
    from{
        transform: translateY(100px);
        opacity: 0;
        scale: 0.8;
    }
    to{
        transform: translateX(0);
        font-weight: 700;
        opacity: 1;
    }
}

.ventaboletas{
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.ventaboletas div{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tarjeta{
    width: 100%;
    max-height: 300px;
    background-color: #590a03;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 10px double #f7f3f0;
    color: #f7f3f0;
    padding: 40px;
    box-shadow: 0 7px 8px #0000006e;

    animation: aparecerabajo linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
}

.tarjetaventa{
    margin-top: 46px;
}

.tarjeta h3{
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.minitarjeta{
    width: 45%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compratuboleteria{
    width: 100%;
    padding: 100px 0;
}

.boletaw{
    width: 100%;
    padding: 40px 0;

    animation: loopzoom 3s infinite;
}

@keyframes loopzoom {
    from{
        scale: 1.05;
    }
    to{
        scale: 1;
    }
}

.boletaw img{
    width: 200px;
    filter: drop-shadow(0 10px 8px #0000006e);
    transition: scale 3s ease-in-out;

    animation: aparecerabajo linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

.boletaw img:hover{
    scale: 1.05;
}

.videogallera{
    width: 100%;
    padding: 0;
}

.videogallera video{
    width: 100%;
}

.advertencia{
    background-color: #590a03;
    color: #f7f3f0;
    box-shadow: 0 -5px 10px #0000006e;
    margin-top: -5px;
}
